<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Jump Sum F</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.gmail.tylercap4.$(PRODUCT_NAME:rfc1034identifier)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>4.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.gmail.tylercap4.jumpsumfree</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.gmail.tylercap4.jumpsumfree</string>
				<string>fb768647469893426</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>4.0</string>
	<key>FacebookAppID</key>
	<string>768647469893426</string>
	<key>FacebookDisplayName</key>
	<string>Jump Sum Free</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>Application</string>
	<key>UIMainStoryboardFile</key>
	<string>JumpSum</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
